body {
  user-select: none;
}

span.tag {
  margin-left: 1em;
  margin-right: 1em;
}

.section {
  padding-top: 0;
}

.xpgain {
  columns: auto 2;
}

@media (max-width: 768px) {
  .xpgain {
    columns: auto 1;
  }
}

button>svg[data-icon] {
  padding-left: 1em;
}